<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oniel.volumescheduler" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DefaultPage"
            android:parentActivityName=".MainPage"
            android:label="@string/title_activity_default_page" >
        </activity>
        <activity
            android:name=".SettingPage"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".MainPage"
            android:label="@string/title_activity_setting_page" >
        </activity>
    </application>

    <!-- application permissions -->
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
